archive/step_functions/document_processing_workflow.json
{
  "Comment": "Medical Document OCR Processing Workflow - RPA-like automation",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-validate-input",
        "Payload": {
          "s3_bucket.$": "$.s3_bucket",
          "s3_key.$": "$.s3_key",
          "document_type.$": "$.document_type",
          "session_id.$": "$.session_id"
        }
      },
      "ResultPath": "$.validation_result",
      "Next": "CheckValidation",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleValidationError",
          "ResultPath": "$.error"
        }
      ]
    },
    
    "CheckValidation": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validation_result.Payload.is_valid",
          "BooleanEquals": true,
          "Next": "PreprocessDocument"
        }
      ],
      "Default": "HandleValidationError"
    },
    
    "PreprocessDocument": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-preprocess",
        "Payload": {
          "s3_bucket.$": "$.s3_bucket",
          "s3_key.$": "$.s3_key",
          "session_id.$": "$.session_id"
        }
      },
      "ResultPath": "$.preprocessing_result",
      "Next": "ProcessWithNova",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ]
    },
    
    "ProcessWithNova": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-nova-processor",
        "Payload": {
          "s3_bucket.$": "$.s3_bucket",
          "s3_key.$": "$.preprocessing_result.Payload.processed_s3_key",
          "document_type.$": "$.document_type",
          "session_id.$": "$.session_id"
        }
      },
      "ResultPath": "$.ocr_result",
      "Next": "ValidateExtractedData",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleOCRError",
          "ResultPath": "$.error"
        }
      ]
    },
    
    "ValidateExtractedData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-data-validator",
        "Payload": {
          "extracted_data.$": "$.ocr_result.Payload.extracted_data",
          "confidence_scores.$": "$.ocr_result.Payload.confidence_scores",
          "session_id.$": "$.session_id"
        }
      },
      "ResultPath": "$.validation_result",
      "Next": "CheckDataQuality"
    },
    
    "CheckDataQuality": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.validation_result.Payload.confidence_score",
          "NumericGreaterThan": 0.8,
          "Next": "AutoApproveHighConfidence"
        },
        {
          "Variable": "$.validation_result.Payload.confidence_score",
          "NumericGreaterThan": 0.5,
          "Next": "QueueForHumanReview"
        }
      ],
      "Default": "QueueForManualProcessing"
    },
    
    "AutoApproveHighConfidence": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-auto-approve",
        "Payload": {
          "extracted_data.$": "$.ocr_result.Payload.extracted_data",
          "session_id.$": "$.session_id",
          "approval_type": "auto_high_confidence"
        }
      },
      "ResultPath": "$.approval_result",
      "Next": "SaveToS3"
    },
    
    "QueueForHumanReview": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/123456789012/medical-ocr-human-review-queue",
        "MessageBody": {
          "session_id.$": "$.session_id",
          "extracted_data.$": "$.ocr_result.Payload.extracted_data",
          "confidence_score.$": "$.validation_result.Payload.confidence_score",
          "review_url.$": "States.Format('https://your-domain.com/review/{}', $.session_id)",
          "timestamp.$": "$$.State.EnteredTime"
        }
      },
      "Next": "WaitForHumanReview"
    },
    
    "WaitForHumanReview": {
      "Type": "Wait",
      "Seconds": 300,
      "Next": "CheckReviewStatus"
    },
    
    "CheckReviewStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-check-review-status",
        "Payload": {
          "session_id.$": "$.session_id"
        }
      },
      "ResultPath": "$.review_status",
      "Next": "EvaluateReviewStatus"
    },
    
    "EvaluateReviewStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.review_status.Payload.status",
          "StringEquals": "completed",
          "Next": "SaveToS3"
        },
        {
          "Variable": "$.review_status.Payload.status",
          "StringEquals": "pending",
          "Next": "WaitForHumanReview"
        }
      ],
      "Default": "HandleReviewTimeout"
    },
    
    "QueueForManualProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/123456789012/medical-ocr-manual-processing-queue",
        "MessageBody": {
          "session_id.$": "$.session_id",
          "extracted_data.$": "$.ocr_result.Payload.extracted_data",
          "confidence_score.$": "$.validation_result.Payload.confidence_score",
          "reason": "Low confidence score - requires manual processing",
          "timestamp.$": "$$.State.EnteredTime"
        }
      },
      "Next": "NotifyManualProcessing"
    },
    
    "NotifyManualProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:medical-ocr-alerts",
        "Message": {
          "session_id.$": "$.session_id",
          "alert_type": "manual_processing_required",
          "confidence_score.$": "$.validation_result.Payload.confidence_score"
        }
      },
      "Next": "ManualProcessingComplete"
    },
    
    "SaveToS3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-save-to-s3",
        "Payload": {
          "session_id.$": "$.session_id",
          "final_data.$": "$.review_status.Payload.reviewed_data",
          "metadata": {
            "processing_type.$": "$.approval_result.Payload.approval_type",
            "confidence_score.$": "$.validation_result.Payload.confidence_score",
            "processed_at.$": "$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": "$.save_result",
      "Next": "UpdateDatabase"
    },
    
    "UpdateDatabase": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "medical-ocr-processing-log",
        "Item": {
          "session_id": {
            "S.$": "$.session_id"
          },
          "status": {
            "S": "completed"
          },
          "s3_location": {
            "S.$": "$.save_result.Payload.s3_key"
          },
          "processing_time": {
            "N.$": "States.JsonToString($.save_result.Payload.processing_time_ms)"
          },
          "confidence_score": {
            "N.$": "States.JsonToString($.validation_result.Payload.confidence_score)"
          },
          "timestamp": {
            "S.$": "$$.State.EnteredTime"
          }
        }
      },
      "Next": "SendCompletionNotification"
    },
    
    "SendCompletionNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:medical-ocr-completion",
        "Message": {
          "session_id.$": "$.session_id",
          "status": "completed",
          "s3_location.$": "$.save_result.Payload.s3_key",
          "processing_summary": {
            "confidence_score.$": "$.validation_result.Payload.confidence_score",
            "processing_type.$": "$.approval_result.Payload.approval_type"
          }
        }
      },
      "End": true
    },
    
    "HandleValidationError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-error-handler",
        "Payload": {
          "error_type": "validation_error",
          "session_id.$": "$.session_id",
          "error_details.$": "$.error"
        }
      },
      "Next": "NotifyError"
    },
    
    "HandleOCRError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-error-handler",
        "Payload": {
          "error_type": "ocr_processing_error",
          "session_id.$": "$.session_id",
          "error_details.$": "$.error"
        }
      },
      "Next": "NotifyError"
    },
    
    "HandleReviewTimeout": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "medical-ocr-error-handler",
        "Payload": {
          "error_type": "review_timeout",
          "session_id.$": "$.session_id",
          "timeout_duration": 300
        }
      },
      "Next": "NotifyError"
    },
    
    "NotifyError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-1:123456789012:medical-ocr-errors",
        "Message": {
          "session_id.$": "$.session_id",
          "error_type": "processing_failed",
          "timestamp.$": "$$.State.EnteredTime"
        }
      },
      "Next": "ProcessingFailed"
    },
    
    "ManualProcessingComplete": {
      "Type": "Succeed",
      "Comment": "Document queued for manual processing"
    },
    
    "ProcessingFailed": {
      "Type": "Fail",
      "Comment": "Document processing failed"
    }
  }
}
